<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
        <style>
            #homepageLink:hover { text-decoration: none; }
            #homepageLink { font-family: sans-serif; }
            h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
            h1 { font-size: 36px; }
            h2 { font-size: 21px; margin-bottom: 1em; }
            a:hover { text-decoration: none; }
        </style>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="row" style="width:100%; background-color:black">
            <div class="cl-sm-6">
                <a id="homepageLink" href="{{ path('homepage') }}" style="float:left"><h1 style="color:white; padding:0.1em; margin-left:1em; margin-top:0.2em">Organizer</h1></a>
            </div>
            <div class="cl-sm-6">
                {% if is_granted('ROLE_USER') %}
                <a id="homepageLink" href="/logout" style="float:right"><h2 style="color:white; margin-right:2em; margin-top:1em">Logout</h2></a>
                {% endif %}
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
