{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    #todoList {
    -moz-column-width: 24em;
    -webkit-column-width: 24em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    }

    .todoHolder {
    padding: 2em 1em 2em 1em;
    display: inline-block;
    width: 100%;
    }

    .todo {
    position: relative;
    text-align: center;
    padding: 1em 1.5em;
    background-color: #eaeaea;
    transition: 0.2s;
    }
    .todo:hover {
    transform: scale(1.1, 1.1);
    }
    .todo:before {
    content: "";
    position: absolute;
    top:0;
    display: block;
    width: 0;
    right: 0;
    border-width: 0 3em 3em 0;
    border-style: solid;
    border-color: lightgray #F5F5F5;
    transition: 0.2s;
    }
    .todo:hover:before {
    border-width: 0 0 0 0;
    }

    .todo h3 {
    font-family: "Droid Serif";
    font-size: 1.3em;
    }

    a {
    text-decoration: none !important;
    }
</style>
{% endblock %}

{% block body %}
    <h1>Here are all your tasks</h1>
    <input id="content" placeholder="What needs to be done?" autofocus>
    <button id="submit">Submit </button>
    <div class="row" id="todoList">
    </div>
{% endblock %}

{% block javascripts %}
<script>
    var $todoTemplate = $('\
        <div class="todoHolder" id="Default">\
            <a href="#">\
                <div class="todo">\
                    <h3>Article Title</h3>\
                </div>\
            </a>\
        </div>\
    ');

    function GetTodos() {
            $.get("{{ path('show_todos') }}", function(result){
                $.each(result, function(i, todo){
                    CreateTodo(todo);
                });
            });
    };

    function CreateTodo(todo) {
        var $newTodo = $todoTemplate.clone();
        $newTodo.find('h3').text('' + todo['body']);
        $newTodo.find('.todoHolder').attr('id',('' + todo['id']));
        $("#todoList").prepend($newTodo);
    }

    $(document).ready(function(){
        GetTodos();

        $("#submit").click(function(){
            var bodyVal = $('#content').val();
            $.post("{{ path('create_todo') }}",
            {
                body: bodyVal
            }, function(newTodo){
                CreateTodo(newTodo);
            });
        });
    });
</script>


{% endblock %}
