{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div class="jumbotron text-center" id="welcome" style="magin:auto">
                <h1><span>Welcome to</span>Organizer!</h1>
                <h2>The simplest way to manage your daily tasks</h2>
            </div>

            <div class="row" style="width:100%; margin:0px">

                <div class="col-sm-6 text-center">
                        <h1>Login...</h1>
                        <a href="{{ url('fos_user_security_login') }}">
                        <button type="button" class="btn btn-primary btn-lg" style="width:80%">Login</button>
                        </a>
                </div>

                <div class="col-sm-6 text-center">
                        <h1>or Register</h1>
                        <a href="{{ url('fos_user_registration_register') }}">
                        <button type="button" class="btn btn-success btn-lg" style="width:80%">Register</button>
                        </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    a:hover { text-decoration: none; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
</style>
{% endblock %}